@font-face {
  font-family: NeueMachinareg;
  src: url(./assets/NeueMachina-Regular.otf);
}

@font-face {
  font-family: NeueMachinaLight;
  src: url(./assets/NeueMachina-Light.otf);
}

@font-face {
  font-family: NeueMachinaUltra;
  src: url(./assets/NeueMachina-Ultrabold.otf);
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: NeueMachinareg;
  color: black;
  font-style: bold;
  font-size: 28px;
}

h3 {
  font-family: NeueMachinaLight;
  color: black;
  font-size: 18px;
}

input {
  font-family: NeueMachinaLight;
  color: #151515;
  background-color: #ffffff;
  border: solid 1px #151515;
  max-width: 182.28px;
  height: 52px;
  text-align: center;
  padding: 0;
  left: 0%;
  right: 41.42%;
  top: 0%;
  bottom: 0%;
}

button {
  font-family: NeueMachinareg;
  background-color: black;
  font-size: 18px;
  align-self: center;
  width: 131.72px;
  height: 52px;
  left: 58.58%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 0;
}

form {
  display: flex;
  justify-content: center;
}

.paymentIcon {
  display: flex;
  justify-content: space-around;
}

/* About us Component styles */

.subTitle {
  text-align: center;
  max-width: 108px;
}

p {
  font-family: NeueMachinaUltra;
  color: black;
  font-size: 14px;
}

ul {
  padding: 16px;
  list-style-type: square;
  color: black;
}

.how ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
